{% extends "base.html" %}

{% block content %}
<div class="purple-box">
    <div class="title-text">GetTrivvy</div>
    {% if current_user.is_authenticated %}
    <div class="top-right-links">
        <a href="{{ url_for('create_trivia_pack') }}" class="button">Create Trivia Pack</a>
        <a href="{{ url_for('leaderboard') }}" class="button">Leaderboard</a>
        <a href="{{ url_for('profile', username=current_user.username) }}" class="button">Profile</a>
        <a href="{{ url_for('logout') }}" class="button">Logout</a>

    </div>
    <div class="welcome-text">
        {% for category in pack_categories %}
            <div class="category-item">
                <button onclick="location.href='{{ url_for('category_view', category_name=category) }}'" class="category-button">
                    {{ category | capitalize }}
                </button>
            </div>
        {% endfor %}

    </div>



    {% else %}
    <div class="top-right-links">
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('register') }}" class="button">Register</a>
    </div>
    <div class="welcome-text">
        <h3>Join the fun!</h3>
        <p>Sign up today and start challenging your friends and other trivia enthusiasts!</p>
        <a href="{{ url_for('register') }}" class="btn">Sign Up Now</a>
    </div>
    {% endif %}
</div>
{% endblock %}
